stamp-h1
missing
ltmain.sh
libtool
install-sh
depcomp
configure
config.sub
config.status
config.log
config.h.in~
config.h.in
config.h
config.guess
bufr2json-*.tar.gz
autom4te.cache/
aclocal.m4
Makefile.in
Makefile
/src/bufr2json
/doc/bufr2json.1
.libs
.deps
*.o
*.lo
*.la
