Source: bufr2json
Section: misc
Priority: optional
Maintainer: Emanuele Di Giacomo <edigiacomo@arpae.it>
Build-Depends:
    debhelper (>= 8.0.0),
    autotools-dev,
    python3-dballe (>= 1.45)
Standards-Version: 3.9.3

Package: bufr2json
Architecture: any
Depends: ${misc:Depends}
Description: BUFR to JSON converter
 Convert BUFR files to JSON format
